<div class="list-ticket-container">
  <h2>Ricerca Ticket</h2>

  <form (ngSubmit)="applySearch()" class="search-form-horizontal">

    <div class="form-group">
      <label for="customerId">Codice Identificativo</label>
      <input
        id="customerId"
        type="text"
        [(ngModel)]="search.customerId"
        name="customerId"
        placeholder="Inserisci Codice Identificativo"/>
    </div>

    <div class="form-group">
      <label for="title">Titolo</label>
      <input
        id="title"
        type="text"
        [(ngModel)]="search.title"
        name="title"
        placeholder="Inserisci titolo"/>
    </div>

    <div class="form-group">
      <label for="status">Stato</label>
      <select id="status" [(ngModel)]="search.status" name="stati">
        <option value="" disabled selected>Seleziona Stato</option>
        <option *ngFor="let s of stati" [ngValue]="s.id">{{ s.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="assignedTo">Assegnati A:</label>
      <select id="assignedTo" [(ngModel)]="search.assignedTo" name="assignedTo">
        <option value="" disabled selected>Seleziona Utente</option>
        <option *ngFor="let u of listUserOperator" [value]="u.id">{{ u.username }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="category">Categoria</label>
      <select id="category" [(ngModel)]="search.category" name="category">
        <option value="" disabled selected>Seleziona Categoria</option>
        <option *ngFor="let c of categorie" [value]="c.id">{{ c.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="urgency">Urgenza</label>
      <select id="urgency" [(ngModel)]="search.urgency" name="urgency">
        <option value="" disabled selected>Seleziona Urgenza</option>
        <option *ngFor="let u of urgenze" [value]="u.id">{{ u.name }}</option>
      </select>
    </div>

      <!-- DatePicker -->
      <div class="form-group">
        <label for="data">Data creazione</label>
        <input
          id="data"
          type="date"
          [(ngModel)]="search.createdAt"
          name="createdAt"
        />
      </div>

    <div class="form-actions">
      <button class="button" type="button" (click)="resetSearch()">❌ Reset</button>
      <button class="button" type="submit">🔍 Cerca</button>
    </div>
  </form>

  <div *ngIf="tickets && tickets.length; else noTickets">
    <h2>Lista Ticket</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>CustomerID</th>
        <th>Titolo</th>
        <th>Stato</th>
        <th>Categoria</th>
        <th>Data/Ora Creazione</th>
        <th>Azioni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let t of paginatedTickets">
        <td>{{ t.customerId }}</td>
        <td>{{ t.title }}</td>
        <td>{{ t.status?.name }}</td>
        <td>{{ t.category?.name }}</td>
        <td>{{ t.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>

        <!-- <td class="actions-cell center">
          <button class="menu-btn" (click)="toggleMenu(t, $event)">☰</button>
          <div class="dropdown" *ngIf="t.showMenu" (click)="$event.stopPropagation()">
            <button *ngIf="can('VIEW')" (click)="viewTicket(t)">👁️ Visualizza</button>
            <button *ngIf="can('EDIT')" (click)="editTicket(t)">✏️ Modifica</button>
            <button *ngIf="can('DELETE')" (click)="deleteTicket(t)">🗑️ Elimina</button>
          </div>
        </td> -->
        <td class="actions-cell center">
          <button class="menu-btn" (click)="toggleMenu(t, $event)">☰</button>
          <div class="dropdown" *ngIf="t.showMenu" (click)="$event.stopPropagation()">
            <button *ngIf="can('VIEW')" (click)="viewTicket(t)">👁️ Visualizza</button>
          </div>
        </td>
      </tr>
      </tbody>

      <div class="pagination-controls">
        <button class="button" (click)="prevPage()" [disabled]="page === 1">
          ◀️ Precedente
        </button>

        <span>Pagina {{ page }} / {{ Math.ceil(tickets.length / pageSize) }}</span>

        <button class="button"
                (click)="nextPage()"
                [disabled]="page * pageSize >= tickets.length">
          Successiva ▶️
        </button>
      </div>
    </table>
  </div>
  <ng-template #noTickets>
    <div class="no-tickets-message">
      ❌ Non ci sono ticket da visualizzare
    </div>
  </ng-template>
</div>
