.app-layout {
  display: flex;
  flex-direction: column; /* header in cima */
  height: 100vh; /* tutta l’altezza della finestra */
}

.main-content {
  display: flex;
  flex: 1; /* occupa tutto lo spazio sotto l’header */
  overflow-y: hidden;
}

app-sidebar {
  width: 250px; /* larghezza fissa per la sidebar */
  background-color: #f1f1f1; /* colore di sfondo della sidebar */
}

.content {
  flex: 1; /* prende tutto lo spazio rimanente accanto alla sidebar */
  padding: 20px;
  background-color: #fff; /* colore di sfondo del contenuto */
  overflow-y: auto; /* scroll verticale se necessario */
}

