<div class="ticket-detail-container">
  <h2>Dettaglio Ticket</h2>

  <form [formGroup]="ticketForm">
    <div class="form-group">
      <label for="customerID">CustomerID</label>
      <input id="customerID" type="text" formControlName="customer">
    </div>

    <div class="form-group">
      <label for="status">Stato</label>
      <input id="status" type="text" formControlName="status">
    </div>

    <div class="form-group">
      <label for="category">Categoria</label>
      <input id="category" type="text" formControlName="category">
    </div>

    <div class="form-group">
      <label for="creator">Aperto da</label>
      <input id="creator" type="text" formControlName="creator">
    </div>

    <div class="form-group">
      <label for="assignedToId">Assegnato A</label>
      <input id="assignedToId" type="text" formControlName="assignedToId">
    </div>

    <div class="form-group">
      <label for="title">Titolo</label>
      <input id="title" type="text" formControlName="title">
    </div>

    <div class="form-group">
      <label for="description">Descrizione</label>
      <input id="description" type="text" formControlName="description">
    </div>

    <div class="form-group">
      <label for="createdAt">Data/Ora Creazione</label>
      <input id="createdAt" type="text" [value]="ticketForm.value.createdAt | date:'dd/MM/yyyy HH:mm'" disabled>
    </div>

    <div class="form-group">
      <label for="updatedAt">Data/Ora Ultimo Aggiornamento</label>
      <input id="updatedAt" type="text" [value]="ticketForm.value.updatedAt | date:'dd/MM/yyyy HH:mm'" disabled>
    </div>

    <div *ngIf="ticket?.messages?.length">
      <h4>Messaggi presenti</h4>
      <div class="messages-container">
        <div class="message" *ngFor="let msg of ticket.messages">
          <div class="message-header">
          <span class="message-date">
        {{ msg.createdAt | date: 'short' }}
      </span>
          </div>
          <div class="message-body">
            {{ msg.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="urgency">Urgenza</label>
      <input id="urgency" type="text" formControlName="urgency">
    </div>

    <button type="button" (click)="goBack()">Indietro</button>
  </form>

</div>

<ng-template #loadingTpl>
  <div class="loading">Caricamento...</div>
</ng-template>
